*{
  margin: 0%;
  padding: 0%;
 
}
.navbar ul{
  display:flex;
  background:#333333;
  cursor:pointer;
}
.navbar ul li{
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
  list-style:none;
  color:white;
}
 .news-cards ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
} 
 .news-cards ul li{
  float: left;
}
.news-cards ul li Button{
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.news-cards ul li Button:hover{
  background-color: #111111;
} 

 .news-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

} 
.progress{
  width: fit-content;
  margin: auto;
  margin-top: 30vh;
}
/* footer */
.footer{
  background-color: red;
  height: 20px;
}

