*{
  margin: 0%;
  padding: 0%;
 
}
.navbar ul{
  display:flex;
  background:#0c4468;
  cursor:pointer;
}
.navbar ul li{
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
  list-style:none;
  color:white;
}
 .news-cards ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c4468;
  
} 
 .news-cards ul li{
  float: left;
}
.news-cards ul li Button{
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.news-cards ul li h2{
  color: white;
  padding: 12px;
  text-decoration: none;
}
.news-cards ul li Button:hover {
  background-color: #c10b33;
  margin-bottom: none;
  border-radius: 0%;
  
} 
.news-cards ul li Button:focus {
  border-radius: 0%;
  background-color: #92ddbf;
  color: black;
  
} 

 .news-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

} 
.progress{
  width: fit-content;
  margin: auto;
  margin-top: 30vh;
}
/* footer */
.footer{
  background-color: red;
  height: 20px;
}
.contact {
  text-align: center;
 

}
.about {
  text-align: center;
}

