body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3RL6ZFKazvX7sDJd4wdLRYjb-cdlxlz1HogAF5R93QOioe7tRoGFHUtb61_ssyo-bgGA&usqp=CAU"); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
